---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mí">
  <section>
    <div class="flex items-center">
      <h2 class="text-xl font-bold tracking-widest text-neutral-800">ACERCA</h2>
      <div class="h-0.5 w-full ml-8 bg-neutral-400"></div>
    </div>
  </section>
</Layout>
