---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <section>
    <!-- Title -->
    <div class="flex items-center my-8">
      <h1 class="text-3xl font-light tracking-widest text-violet-900">
        CONTACTO
      </h1>
      <div class="h-0.5 w-full ml-8 bg-violet-300"></div>
    </div>
    <!-- /Title -->
  </section>
</Layout>
