---
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Experiencia">
  <section>
    <div class="flex items-center mb-8">
      <h1 class="text-lg font-bold tracking-widest text-gray-700">
        EXPERIENCIA
      </h1>
      <div class="h-0.5 w-full ml-8 bg-gray-300"></div>
    </div>

    <Timeline />
  </section>
</Layout>

<style></style>
