---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rocío Marivel Díaz Zavala">
  <div class="flex h-full pt-3">
    <img src="/image/profile.jpg" alt="" class="w-1/4 hidden md:block" />
    <div class="flex justify-center items-center">
      <article class="px-5 sm:px-10">
        <h1 class="text-5xl font-bold text-neutral-800">
          Rocío Marivel Díaz Zavala
        </h1>
        <div class="bg-neutral-800 w-20 h-2 my-3"></div>
        <p class="text-3xl">Licenciada en Ciencias de la Educación</p>
      </article>
    </div>
  </div>
</Layout>

<style></style>
