---
import Layout from "../layouts/Layout.astro";
// import { AstroScript } from "astro-script";
// const baseUrl = import.meta.env.BASE_URL;
title: "Rocío Marivel Díaz Zavala";
date: "2023-11-06";
author: "Rocío Marivel Díaz Zavala";
---

<Layout title="Rocío Marivel Díaz Zavala">
  <section class="flex items-center h-full">
    <article class="sm:px-10">
      <h1 class="md:hidden text-5xl font-extrabold text-dark-grey-900">
        Rocío Marivel Díaz Zavala
      </h1>
      <h1
        class="hidden md:block text-5xl font-extrabold text-dark-grey-900 typing"
      >
        Rocío Marivel Díaz Zavala
      </h1>
      <div class="line w-32 h-1 my-3"></div>
      <div
        class="text-neutral-600 sm:text-lg animate__animated animate__fadeInUp"
      >
        <p>Licenciada: Ciencias de la Educación.</p>
        <p>Especialidad: Lengua, Literatura y Filosofía.</p>
        <p>Maestro: Investigación y Docencia en Educación Superior.</p>
        <p>Doctor: Administración.</p>
      </div>
    </article>
  </section>
</Layout>

<style>
  .typing {
    white-space: nowrap;
    border-right: 4px solid #2c2c2c;
    width: 22ch;

    animation:
      typing 2s steps(22),
      blink 0.5s infinite step-end alternate;
    overflow: hidden;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
</style>
<script transition:persist>
  document.addEventListener("mousemove", function (event) {
    const trail = document.createElement("div");
    trail.className = "trail";
    document.body.appendChild(trail);
    trail.style.left = event.pageX - 5 + "px";
    trail.style.top = event.pageY - 5 + "px";
    setTimeout(() => {
      trail.remove();
    }, 1000);
  });

  function activarEnlaceSeleccionado() {
    var paginaActual = window.location.href;

    var enlacesMenu = document.querySelectorAll("#my-menu ul li a");
    enlacesMenu.forEach(function (enlace) {
      if (paginaActual === enlace.href) {
        enlace.classList.add("link-active");
      } else {
        enlace.classList.remove("link-active"); // Remueve la clase "activo" de otros enlaces
      }
    });
  }
  var enlacesMenu = document.querySelectorAll("#my-menu ul li a");
  enlacesMenu.forEach(function (enlace) {
    enlace.addEventListener("click", function () {
      // Llama a la función para establecer la clase "activo" después de hacer clic
      activarEnlaceSeleccionado();
    });
  });
  activarEnlaceSeleccionado();
</script>
