---
import Layout from "../layouts/Layout.astro";
import Publication from "../components/Publication.astro";
---

<Layout title="Publicaciones">
  <!-- Title -->
  <div class="flex items-center my-8">
    <h1 class="text-3xl tracking-widest font-extrabold text-dark-grey-900">
      PUBLICACIONES
    </h1>
    <div class="h-0.5 w-full ml-8 bg-violet-300"></div>
  </div>
  <!-- /Title -->
  <div class="grid-cards">
    <Publication
      title="Experiencias y praxis educativas en nuevos contextos digitales en países de Iberoamérica."
      description=" Editorial Octaedro. ISBN: 978-84-18615-60-3. Melina Alejandro, Alejandra Hurtado."
      type="Capítulo"
      date="Publicado el 10 de diciembre 2020"
    />
    <Publication
      date="Publicado el 29 de noviembre del 2020"
      type="Capítulo"
      title="Movilización y Permanencia de las Relaciones de Poder. Capítulo 2."
      description="E Book Estudios de Género. DOI: 10.37572/EdArt-2172811202. Fernando Pari Tito, Juan Zárate Yépez. Editora ARTEMIS Brasil."
    />
    <Publication
      date="Brasil 2020, 20 de Julio."
      type="Artículo"
      title="La didáctica de las Ciencias y Tecnologías en la conceptualización Docente en Instituciones Educativas de Perú"
      description="Revista Risti N° E31 Revista Ibérica de Sistemas e Tecnologías de Informacao, ISNN: 1646-9895.Luis Abat, Fernando Pari Tito. SCOPUS"
    />
    <Publication
      date=""
      type="Libro"
      title="Herramientas Digitales para la Educación Virtual Universitaria "
      description="IBSN 978-612-5035-38-7 Editorial UNSA."
    />
    <Publication
      date="ISBN: 9789942-600-56-1"
      type="Libro"
      title="Didáctica de la Lengua y Literatura: Reflexiones para enseñar en la Universidad.  "
      description=""
    />
    <Publication
      date="2022"
      type="Artículo"
      title="Congreso 2022 Alfabetización mediática e informacional y cultura digital en el Perú "
      description="Revista Comunicar"
    />
    <Publication
      date="2017"
      type="Artículo Científico"
      title="El conflicto docente en la prensa peruana: El paro docente de 2017"
      description="DOI: https://doi.org/10.37467/revvisual.v9.3679 SCOPUS"
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      title="PERCEPCIÓN DE LA ESCRITURA ACADÉMICA EN ESTUDIANTES UNIVERSITARIOS "
      description="HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      title="FORMACIÓN Y PRODUCCIÓN EN INVESTIGACIÓN EN EL CAMPO EDUCATIVO: ITINERARIOS Y SIGNIFICADOS"
      description="HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      title="INTERACCIONES DIDÁCTICAS EN EL BLENDED LEARNING: DINÁMICAS DE CONSTRUCCIÓN DEL CONOCIMIENTO"
      description="HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      title="CARTOGRAFÍA CONCEPTUAL DE LA INVESTIGACIÓN FORMATIVA EN LA UNIVERSIDAD PERUANA"
      description="HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      title="COMPETENCIAS INFORMACIONALES EN LA FORMACIÓN INICIAL DEL PROFESORADO DE UNA UNIVERSIDAD PERUANA"
      description="HUMAN REVIEW | 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      title="VIRTUAL TEACHING SYSTEM FOR RESEARCH PROJECT DEVELOPMENT "
      description="[DE ENSEÑANZA VIRTUAL PARA LA ELABORACIÓN DE PROYECTOS INVESTIGACIÓN] (2023) Universidad y Sociedad, 15 (3), pp. 288-296."
    />
    <Publication
      date="INEDU"
      type=""
      title="Educación Agricultura y Ritos Collawas"
      description="Revista Agustina."
    />
    <Publication
      date=""
      type=""
      title="RETOS Y DESAFÍOS DE LOS SISTEMAS EDUCATIVOS IBEROAMERICANOS EN EL SIGLO XX"
      description=""
    />
  </div>
</Layout>
<style>
  .grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
  }
</style>
