---
import Layout from "../layouts/Layout.astro";
import Publication from "../components/Publication.astro";
import { AstroScript } from "astro-script";
const baseUrl = import.meta.env.BASE_URL;
title: "Publicaciones";
date: "2023-11-05";
author: "Rocío Marivel Díaz Zavala";
---

<Layout title="Rocío Marivel Díaz Zavala">
  <!-- Title -->
  <div class="flex items-center my-8">
    <h1 class="text-3xl tracking-widest font-extrabold text-dark-grey-900">
      PUBLICACIONES
    </h1>
    <div class="h-0.5 w-full ml-8 bg-purple-300"></div>
  </div>
  <!-- /Title -->

  <!-- <div class="grid-cards">
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description="Artículo SCOPUS: PERCEPCIÓN DE LA ESCRITURA ACADÉMICA EN ESTUDIANTES UNIVERSITARIOS HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description="Artículo SCOPUS: FORMACIÓN Y PRODUCCIÓN EN INVESTIGACIÓN EN EL CAMPO EDUCATIVO: ITINERARIOS Y SIGNIFICADOS HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description="Artículo SCOPUS: INTERACCIONES DIDÁCTICAS EN EL BLENDED LEARNING: DINÁMICAS DE CONSTRUCCIÓN DEL CONOCIMIENTO HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description="Artículo SCOPUS: CARTOGRAFÍA CONCEPTUAL DE LA INVESTIGACIÓN FORMATIVA EN LA UNIVERSIDAD PERUANA HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description="Artículo SCOPUS: COMPETENCIAS INFORMACIONALES EN LA FORMACIÓN INICIAL DEL PROFESORADO DE UNA UNIVERSIDAD PERUANA. HUMAN REVIEW | 2023 | ISSN 2695-9623 International Humanities Review / Revista Internacional de Humanidades."
    />
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description="Artículo SCOPUS: VIRTUAL TEACHING SYSTEM FOR RESEARCH PROJECT DEVELOPMENT [DE ENSEÑANZA VIRTUAL PARA LA ELABORACIÓN DE PROYECTOS INVESTIGACIÓN] (2023) Universidad y Sociedad, 15 (3), pp.288-296."
    />
    <Publication
      date="2022"
      type="Artículo"
      subtitle="Revista Comunicar"
      description="Artículo en Congreso 2022 Alfabetización mediática e informacional y cultura digital en el Perú https://pure.unsa.edu.pe/es/publications/media-and- information-literacy-and-digital-culture-in-peru. Revista Comunicar"
    />
    <Publication
      date="2020"
      type="Capítulo"
      subtitle="Editorial Octaedro"
      description="Capítulo de libro: Experiencias y praxis educativas en nuevos contextos digitales en países de Iberoamérica. Editorial Octaedro. ISBN: 978-84-18615- 60-3. Melina Alejandro, Alejandra Hurtado. Publicado el 10 de diciembre 2020."
    />
    <Publication
      date="2020"
      type="Capítulo"
      subtitle="Editora ARTEMIS Brasil"
      description="Capítulo de libro; Movilización y Permanencia de las Relaciones de Poder. Capítulo 2. E Book Estudios de Género. Publicado el 29 de noviembre del 2020. DOI: 10.37572/EdArt-2172811202. Fernando Pari Tito, Juan Zárate Yépez. Editora ARTEMIS Brasil."
    />
    <Publication
      date="2020"
      type="Artículo"
      subtitle="Revista Ibérica"
      description="Artículo: La didáctica de las Ciencias y Tecnologías en la conceptualización Docente en Instituciones Educativas de Perú. Revista Risti N° E31 Revista Ibérica de Sistemas e Tecnologías de Informacao, Brasil 2020, 20 de Julio. ISNN: 1646-9895.Luis Abat, Fernando Pari Tito. SCOPUS"
    />

    <Publication
      date="2017"
      type="Artículo Científico"
      subtitle=""
      description="Artículo Científico: EL CONFLICTO DOCENTE EN LA PRENSA PERUANA El paro docente de 2017 DOI: https://doi.org/10.37467/revvisual.v9.3679 SCOPUS"
    />
    <Publication
      date=""
      type="Libro"
      subtitle="Editorial UNSA"
      description="Publicación de Libro Herramientas Digitales para la Educación Virtual Universitaria IBSN 978-612-5035-38-7 Editorial UNSA."
    />

    <Publication
      date=""
      type="Libro"
      subtitle=""
      description="Libro Académico: Didáctica de la Lengua y Literatura Reflexiones para Enseñar en la Universidad."
    />
    <Publication
      date=""
      type="Libro"
      subtitle=""
      description="LIBRO Didáctica de la Lengua y Literatura Reflexiones para enseñar en la Universidad. ISBN: 9789942-600-56-1 "
    />
    <Publication
      date=""
      type=""
      subtitle=""
      description="RETOS Y DESAFÍOS DE LOS SISTEMAS EDUCATIVOS IBEROAMERICANOS EN EL SIGLO XX"
    />
    <Publication
      date=""
      type=""
      subtitle=""
      description="Educación Agricultura y Ritos Collawas Revista Agustina INEDU."
    />
  </div> -->

  <div class="grid-cards">
    <!-- 1 ARTÍCULOS SCOPUS -->
    <!-- 1.1 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description={[
        "PERCEPCIÓN DE LA ESCRITURA ACADÉMICA EN ESTUDIANTES UNIVERSITARIOS",
        "HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623",
        "International Humanities Review / Revista Internacional de Humanidades ",
      ]}
      link="https://doi.org/10.37467/revhuman.v21.5076"
    />
    <!-- 1.2 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description={[
        "FORMACIÓN Y PRODUCCIÓN EN INVESTIGACIÓN EN EL CAMPO EDUCATIVO:ITINERARIOS Y SIGNIFICADOS",
        "HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623",
        "International Humanities Review / Revista Internacional de Humanidades",
      ]}
      link="https://doi.org/10.37467/revhuman.v21.5079"
    />
    <!-- 1.3 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description={[
        "INTERACCIONES DIDÁCTICAS EN EL BLENDED LEARNING: DINÁMICAS DE CONSTRUCCIÓN DEL CONOCIMIENTO",
        " HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623",
        "International Humanities Review / Revista Internacional de Humanidades",
      ]}
      link="https://doi.org/10.37467/revhuman.v21.5082"
    />
    <!-- 1.4 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description={[
        "CARTOGRAFÍA CONCEPTUAL DE LA INVESTIGACIÓN FORMATIVA EN LA UNIVERSIDAD PERUANA",
        "HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623",
        "International Humanities Review / Revista Internacional de Humanidades",
      ]}
      link="https://doi.org/10.37467/revhuman.v21.5080"
    />
    <!-- 1.5 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description={[
        "INCIDENTES CRÍTICOS EN LA PRÁCTICA REFLEXIVA DE LA FORMACIÓN DEL PROFESORADO DE CIENCIAS",
        "HUMAN REVIEW | Vol. 21, No. 2, 2023 | ISSN 2695-9623",
        "International Humanities Review / Revista Internacional de Humanidades",
      ]}
      link="https://doi.org/10.37467/revhuman.v21.5085"
    />
    <!-- 1.6 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Humanities Review"
      description={[
        "COMPETENCIAS INFORMACIONALES EN LA FORMACIÓN INICIAL DEL PROFESORADO DE UNA UNIVERSIDAD PERUANA",
        "HUMAN REVIEW | 2023 | ISSN 2695-9623",
        "International Humanities Review / Revista Internacional de Humanidades",
      ]}
      link="https://doi.org/10.37467/revhuman.v16.4994"
    />
    <!-- 1.7 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="Revista Iberica"
      description={[
        "ALFABETIZACIÓN MEDIÁTICA E INFORMACIONAL Y CULTURA  DIGITAL EN PERÚ",
        "Revista Iberica de Sistemas e Tecnologias de Informacao",
        "Volume 2022, Issue E48, February 2022, Pages 359-370",
        "ISSN: 16469895",
      ]}
      link=""
    />
    <!-- 1.8 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="Revista Iberica"
      description={[
        "LA DIDÁCTICA DE LAS CIENCIAS Y TECNOLOGÍAS EN LA CONCEPTUALIZACIÓN DOCENTE EN INSTITUCIONES EDUCATIVAS DE PERÚ",
        "RISTI - Revista Iberica de Sistemas e Tecnologias de Informacao",
        "Volumen 2020, Issue E31, 1 July 2020, Pages 60-74",
        "ISSN: 16469895",
      ]}
      link="https://www.researchgate.net/publication/344388406"
    />
    <!-- 1.9 -->
    <Publication
      date="2023"
      type="Artículo SCOPUS"
      subtitle="International Technology Science and Society"
      description={[
        "Training of education researchers in Peru: contexts and challenges",
        "TECHNO REVIEW | 2023 | ISSN 2695-9933",
        "International Technology Science and Society Review / Revista Internacional de Tecnología Ciencia y Sociedad",
      ]}
      link="https://doi.org/10.37467/revtechno.v13.4986"
    />
    <!-- 2.8 -->
    <Publication
      date="2023"
      type="Libro"
      subtitle=""
      description={[
        "DIDÁCTICA DE LA LENGUA Y LITERATURA REFLEXIONES PARA ENSEÑAR EN LA UNIVERSIDAD",
        "ISBN 9789942-600-56-1",
        "RESOLUCIÓN N° 2354-2023/DDA-INDECOPI",
      ]}
      link="https://dialnet.unirioja.es/servlet/libro?codigo=942106"
    />
    <!-- 3 PARTICIPACIÓN EN CONGRESOS -->
    <!-- 3.1 -->
    <Publication
      date="2023"
      type="Conferencia Magistral"
      subtitle="CONTE"
      description={[
        "VALORACIÓN DEL ALUMNADO Y EL PROFESORADO SOBRE LA CLASE INVERTIDA EN ESTUDIOS SUPERIORES",
      ]}
      link=""
    />

    <!-- 3.4 -->
    <Publication
      date="2023"
      type="Ponencia virtual"
      subtitle=""
      description={[
        "CONGRESO CICLIP PONENCIA VIRTUAL: LECTURA EMERGENTE Y TEXTOS DISCONTINUOS DESDE EL ACOMPAÑAMIENTO LECTOR",
      ]}
      link="https://ciclip.com/ponencias-2023-evento/"
    />
    <!-- 3.5 -->
    <Publication
      date="2023"
      type="Paper"
      subtitle=""
      description={[
        "TECHNOPEDAGOGICAL DEVICES IN BLENDED LEARNING IN DEVELOPING COUNTRIES",
        "Eur. Chem. Bull. 2023, 12(Special Issue 1), 1500-1507",
      ]}
      link="https://www.eurchembull.com/uploads/paper/6ba7047dab5fd94031712f08c4a9e525"
    />

    <!-- 1.10 -->
    <Publication
      date="2022"
      type="Artículo SCOPUS"
      subtitle=""
      description={[
        "ENSEÑANZA VIRTUAL PARA LA ELABORACIÓN DE PROYECTOS DE INVESTIGACIÓN",
        "ISSN: 24152897",
      ]}
      link="https://rus.ucf.edu.cu/index.php/rus/article/view/3748/3679"
    />
    <!-- 1.11 -->
    <Publication
      date="2022"
      type="Artículo SCOPUS"
      subtitle="International Visual Culture"
      description={[
        "THE TEACHERS' CONFLICT IN THE PERUVIAN PRESS The 2017 teachers' strike",
        "VISUAL Review. International Visual Culture Review / Revista Internacional de Cultura",
      ]}
      link="https://doi.org/10.37467/revvisual.v9.3679"
    />
    <!-- 1.12 -->
    <Publication
      date="2022"
      type="Artículo SCOPUS"
      subtitle="Revista de Educación RAE"
      description={[
        "EDUCACIÓN, AGRICULTURA Y RITOS COLLAWAS",
        "ISSN: 2961-2047 / ISSN-e: 2961-2144",
      ]}
      link="https://revistas.unsa.edu.pe/index.php/rae"
    />

    <!-- 2 CAPÍTULOS DE LIBROS Y LIBROS -->
    <!-- 2.1 -->
    <Publication
      date="2022"
      type="Libro"
      subtitle="Editora ARTEMIS"
      description={[
        "VIOLENCIA DE GÉNERO EN LA WEB: REPRESENTACIONES DE INVISIBILIZACIÓN DE LAS MUJERES INMIGRANTES EN ESPAÑA",
        "ISBN 978-65-87396-21-7 CURITIBA, 28 de junho de 2022.",
        "DOI1 ISBN 978-65-87396-21-7",
        "DOI 10.37572/EdArt_217281120 0.37572/EdArt_2172811202",
      ]}
      link=""
    />

    <!-- 2.9 -->
    <Publication
      date="2022"
      type="Libro BNP"
      subtitle="Editorial UNSA"
      description={[
        "HERRAMIENTAS DIGITALES PARA LA EDUCACIÓN VIRTUAL UNIVERSITARIA",
        "Publicado: 2022-04-15",
        "ISBN 978-612-5035-38-7",
      ]}
      link="http://isbn.bnp.gob.pe/catalogo.php?mode=detalle&nt=127560"
    />

    <!-- 2.7 -->
    <Publication
      date="2022"
      type="Capítulo"
      subtitle=""
      description={[
        "RETOS Y DESAFÍOS DE LOS SISTEMAS EDUCATIVOS IBEROAMERICANOS EN EL SIGLO XXI",
        "ISBN: 978-84-1115-724-4",
      ]}
      link="https://www.researchgate.net/publication/367126165"
    />

    <!-- 3.2 -->
    <Publication
      date="2022"
      type="Exposición"
      subtitle="Grupo Comunicar Ediciones"
      description={[
        "EXPOSICIÓN EN CONGRESO ALFAMED 2022 PRESENCIAL: INFLUENCIA DEL «CYBERBULLYING» EN LA INTELIGENCIA EMOCIONAL DE LOS ESTUDIANTES DE ANTONIO JOSÉ DE SUCRE YANAHUARA",
        "Redes sociales y ciudadanía · Grupo Comunicar Ediciones ",
      ]}
      link="https://doi.org/10.3916/Alfamed2022"
    />
    <!-- 3.3 -->
    <Publication
      date="2022"
      type="Exposición"
      subtitle="Grupo Comunicar Ediciones"
      description={[
        "EXPOSICIÓN EN CONGRESO ALFAMED 2022 PRESENCIAL: USO DE LAS REDES SOCIALES Y SU RELACIÓN  CON LAS HABILIDADES SOCIALES EN ESTUDIANTES DE UNA INSTITUCIÓN EDUCATIVA",
        "Redes sociales y ciudadanía · Grupo Comunicar Ediciones",
      ]}
      link="https://doi.org/10.3916/Alfamed2022"
    />

    <!-- 2.5 -->
    <Publication
      date="2021"
      type="Capítulo"
      subtitle="Editorial EIDEC"
      description={[
        "LAS TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIÓN EN LA EDUCACIÓN LATINOAMERICANA: MODELOS Y TENDENCIAS DE USO",
        "ISBN: 978-958-53018-7-0",
        "Publicación: Colombia",
        "Fecha Publicación: 2021-05-31",
      ]}
      link="https://doi.org/10.34893/1hfp-y566"
    />
    <!-- 2.6 -->
    <Publication
      date="2021"
      type="Capítulos"
      subtitle="Editorial Board"
      description={[
        "INNOVATION EXPERIENCES IN TERTIARY EDUCATION IN LATIN AMERICA",
        "ISBN: 978-612-5035-16-5",
      ]}
      link="https://dialnet.unirioja.es/servlet/libro?codigo=851857"
    />
    <!-- 2.2 -->
    <Publication
      date="2020"
      type="Capítulo"
      subtitle="Editora ARTEMIS"
      description={[
        "Estudos de gênero [recurso eletrônico] : mudanças e permanências nas relações de poder / Organizadoras Bruna Bejarano, Viviane",
        "Carvalho Mocellin. Curitiba, PR: Artemis, 2020.",
        "DOI 10.37572/EdArt_217281120 0.37572/EdArt_2172811202",
      ]}
      link=""
    />
    <!-- 2.3 -->
    <Publication
      date="2020"
      type="Capítulo"
      subtitle="Editorial Octaedro"
      description={[
        "EXPERIENCIAS Y PRAXIS EDUCATIVAS EN NUEVOS CONTEXTOS DIGITALES EN PAÍSES DE IBEROAMÉRICA",
        "ISBN: 978-84-18615-60-3",
      ]}
      link=""
    />
    <!-- 2.4 -->
    <Publication
      date="2018"
      type="Libro"
      subtitle=""
      description={[
        "ESTRATEGIA DE LA MESA DE DESARROLLO Y LA OPTIMIZACIÓN DE LA RESPONSABILIDAD SOCIAL EMPRESARIAL EN EL PROYECTO MINERO DE ANTAPACCAY",
      ]}
      link="https://libros.ciencialatina.org"
    />
  </div>
</Layout>
<style>
  .grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 2rem;
    margin-bottom: 1rem;
  }
</style>
<script transition:persist>
  document.addEventListener("mousemove", function (event) {
    const trail = document.createElement("div");
    trail.className = "trail";
    document.body.appendChild(trail);
    trail.style.left = event.pageX - 5 + "px";
    trail.style.top = event.pageY - 5 + "px";
    setTimeout(() => {
      trail.remove();
    }, 1000);
  });

  function activarEnlaceSeleccionado() {
    var paginaActual = window.location.href;

    var enlacesMenu = document.querySelectorAll("#my-menu ul li a");
    enlacesMenu.forEach(function (enlace) {
      if (paginaActual === enlace.href) {
        enlace.classList.add("link-active");
      } else {
        enlace.classList.remove("link-active"); // Remueve la clase "activo" de otros enlaces
      }
    });
  }
  var enlacesMenu = document.querySelectorAll("#my-menu ul li a");
  enlacesMenu.forEach(function (enlace) {
    enlace.addEventListener("click", function () {
      // Llama a la función para establecer la clase "activo" después de hacer clic
      activarEnlaceSeleccionado();
    });
  });
  activarEnlaceSeleccionado();
</script>
