---
import TimelineItem from "./TimelineItem.astro";
---

<h2 class="font-semibold text-gray-950 my-3">Académica</h2>
<div class="px-6 flex flex-col gap-10">
  <ul class="list-none">
    <TimelineItem
      title="ETS PNP Charcani Arequipa Docente Contratada"
      date="2008 - 2014"
      subtitle="Tiempo Parcial"
    />
    <TimelineItem
      title="Unidad de Posgrado de la Facultad de Ciencias de la Educación"
      date="2021"
      subtitle="Dictando la asignatura de Liderazgo Pedagógico y Desarrollo personal en la Escuela"
    />
    <TimelineItem
      title="Unidad de Posgrado de la Facultad de Ciencias de la Educación"
      subtitle="Dictando la asignatura de Liderazgo Pedagógico y Desarrollo personal en la Escuela"
      date="2021"
    />
  </ul>
</div>
